<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Crear Propósito</title>

     {% load static %}
     <link rel="stylesheet" href="{% static 'style.css' %}">
     
</head>

<body>

     <header>
          <h1>Mis Propósitos</h1>

          <nav>
               <a href="{% url 'propositos:listaPropositos' %}">Inicio</a>
               <a href="{% url 'propositos:crearProposito' %}">Crear</a>
               <a href="{% url 'propositos:proximosPropositos' %}">Ver próximos</a>
          </nav>
     </header>

     <main class="formulario--centro">

          <h2 class="titulo-seccion">Crear un propósito</h2>

          <form action="{% url 'propositos:insertarProposito' %}" method="post" class="formulario">
               {% csrf_token %}
     
               <div class="seccion-formulario">
                    <label for="eleccion">Propósito:</label>
                    <input type="text" name="proposito" placeholder="Breve descripción del propósito">
               </div>
     
               <div class="seccion-formulario">
                    <label for="fechaObjetivo">Fecha objetivo:</label>
                    <input type="date" name="fechaObjetivo" placeholder="Breve descripción del propósito">
               </div>
     
               <input type="submit" value="Crear"  class="boton">
     
          </form>

     </main>
     
</body>

</html>