<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Listado Propositos</title>
</head>
<body>
     {% for proposito in propositos %}
          <p>
               {{ proposito.proposito }} 
               {{ proposito.fechaObjetivo }}
               <form action="{% url 'propositos:retrasarProposito' proposito.id %}" method="post">
                    {% csrf_token %}
                    <input type="number" name="cantidadDias" min="1">
                    <input type="submit" value="Procrastinar">
               </form>
               
               {{ proposito.conseguido }}
               <!-- {% if proposito.fechaConseguido %}
                    {{ proposito.fechaConseguido }}
               {% endif %} -->
          </p>
          <a href="{% url 'propositos:borrarProposito' proposito.id %}">Borrar</a>
          <a href="{% url 'propositos:modificarProposito' proposito.id %}">Modificar</a>
          <a href="{% url 'propositos:completarProposito' proposito.id %}">Completar</a>
          <a href="{% url 'propositos:resetearProposito' proposito.id %}">Resetear</a>
     {% endfor %}
</body>
</html>