<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Modificar Proposito</title>

     {% load static %}
     <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>

     <header>
          <h1>Mis Propósitos</h1>

          <nav>
               <a href="{% url 'propositos:listaPropositos' %}">Inicio</a>
               <a href="{% url 'propositos:crearProposito' %}">Crear</a>
               <a href="{% url 'propositos:proximosPropositos' %}">Ver próximos</a>
          </nav>
     </header>

     <main class="formulario--centro">

          <h2 class="titulo-seccion">Modificar un propósito</h2>

          <form action="{% url 'propositos:guardarProposito' proposito.id %}" method="post" class="formulario">
               {% csrf_token %}
     
               <div class="seccion-formulario">
                    <label for="eleccion">Propósito:</label>
                    <input type="text" name="proposito" value="{{ proposito.proposito }}" placeholder="Breve descripción del propósito">
               </div>
               
               <div class="seccion-formulario">
                    <label for="fechaObjetivo">Fecha objetivo:</label>
                    <input type="date" name="fechaObjetivo" value="{{ proposito.fechaObjetivo|date:'Y-m-d' }}">
               </div>
     
               <input type="submit" value="Modificar"  class="boton">
     
          </form>
     </main>
     
</body>
</html>